MINTER_ADDRESS=0x48b619d00c378802
MINTER_PRIVATE_KEY=3a4d28c96d760d766b5d5f88f9f5af4a075267ff14e0d7e102de498b7d169765
MINTER_ACCOUNT_KEY_INDEX=0

FUNGIBLE_TOKEN_ADDRESS=0x9a0766d93b6608b7
NON_FUNGIBLE_TOKEN_ADDRESS=0x631e88ae7f1d7c20

FLOW_ACCESS_API_URL=https://access-testnet.onflow.org

DATABASE_URL=postgres://ynlenbyregqmdj:0eda35dec532dd537f5e58561c117db374269ac61f8d922926158b040b6e117d@ec2-52-6-77-239.compute-1.amazonaws.com:5432/d3nvt4kgpaajuh

MIGRATION_PATH=./api/src/migrations

# DATABASE_URL=postgresql://kittyuser:kittypassword@localhost:5432/kittyitems

# MIGRATION_PATH=./src/migrations

BLOCK_WINDOW=1

FLOW_ADDRESS=0x48b619d00c378802
FLOW_PRIVATE_KEY=3a4d28c96d760d766b5d5f88f9f5af4a075267ff14e0d7e102de498b7d169765

REACT_APP_CHAIN_ENV=testnet
REACT_APP_FLOW_ACCESS_API_URL=https://access-testnet.onflow.org
REACT_APP_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
REACT_APP_CONTRACT_FUNGIBLE_TOKEN=0x9a0766d93b6608b7
REACT_APP_CONTRACT_NON_FUNGIBLE_TOKEN=0x631e88ae7f1d7c20
REACT_APP_API_KIBBLE_MINT=https://vaultv2.herokuapp.com/v1/kibbles/mint
REACT_APP_API_KITTY_ITEM_MINT=https://vaultv2.herokuapp.com/v1/kitty-items/mint
REACT_APP_API_MARKET_ITEMS_LIST=https://vaultv2.herokuapp.com/v1/market/latest

REACT_APP_CONTRACT_KIBBLE=0x48b619d00c378802
REACT_APP_CONTRACT_KITTY_ITEMS=0x48b619d00c378802
REACT_APP_CONTRACT_KITTY_ITEMS_MARKET=0x48b619d00c378802