MINTER_ADDRESS=0x30732c938ecf4e40
MINTER_PRIVATE_KEY=320c5c1b33b73681441815e6a3c09d2bdc767bbfa00081281cdad20a281536ce
MINTER_ACCOUNT_KEY_INDEX=0

FUNGIBLE_TOKEN_ADDRESS=0x9a0766d93b6608b7
NON_FUNGIBLE_TOKEN_ADDRESS=0x631e88ae7f1d7c20

FLOW_ACCESS_API_URL=https://access-testnet.onflow.org

DATABASE_URL=postgresql://kittyuser:kittypassword@localhost:5432/kittyitems

MIGRATION_PATH=src/migrations

BLOCK_WINDOW=1

FLOW_ADDRESS=0x30732c938ecf4e40
FLOW_PRIVATE_KEY=320c5c1b33b73681441815e6a3c09d2bdc767bbfa00081281cdad20a281536ce

REACT_APP_CHAIN_ENV=testnet
REACT_APP_FLOW_ACCESS_API_URL=https://access-testnet.onflow.org
REACT_APP_WALLET_DISCOVERY=https://fcl-discovery.onflow.org/testnet/authn
REACT_APP_CONTRACT_FUNGIBLE_TOKEN=0x9a0766d93b6608b7
REACT_APP_CONTRACT_NON_FUNGIBLE_TOKEN=0x631e88ae7f1d7c20
REACT_APP_API_KIBBLE_MINT=http://127.0.0.1:3000/v1/kibbles/mint
REACT_APP_API_KITTY_ITEM_MINT=http://127.0.0.1:3000/v1/kitty-items/mint
REACT_APP_API_MARKET_ITEMS_LIST=http://127.0.0.1:3000/v1/market/latest

REACT_APP_CONTRACT_KIBBLE=0x30732c938ecf4e40
REACT_APP_CONTRACT_KITTY_ITEMS=0x30732c938ecf4e40
REACT_APP_CONTRACT_KITTY_ITEMS_MARKET=0x30732c938ecf4e40